.cosmic-bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: #000; overflow: hidden; }
.stars { background: url('/stars.png') repeat top center; position: absolute; width: 100%; height: 100%; }
.twinkling { background: url('/twinkling.png') repeat top center; position: absolute; width: 100%; height: 100%; animation: move-twink-back 200s linear infinite; }
@keyframes move-twink-back { from {background-position:0 0;} to {background-position:-10000px 5000px;} }
